/*///////////////////
//	   HEADLINE    //
///////////////////*/

#headline {
  padding-top: 100px;
  padding-bottom: 50px;
}

#headline>h4 {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

#headline>h6 {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

/*///////////////////
//	    INTRO      //
///////////////////*/

#intro-block {
  padding-left: 1.2em;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
}

#intro-tag {
  font-weight: 700;
  font-size: 3em;
}

#intro-blurb {
  font-weight: 600;
  font-size: 1.2em;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
}

#intro-location {
  font-size: 0.75em;
}

@media screen and (min-width: 640px) {
  #intro-block {
    padding-top: 150px;
    padding-bottom: 225px;
  }
  #intro-blurb {
    width: 40%;
  }
}

/*///////////////////
//	  PROJECTS     //
///////////////////*/

#project-blocks>div {
  min-height: 250px;
  position: relative;
}

#ibm-block, #amazon-block, #smc-block {
  min-height: 175px !important;
}

@media screen and (min-width: 640px) {
  #project-blocks>div:hover {
    transition: 0.5s;
    z-index: 100;
  }
  #project-blocks>div {
    transition: 0.5s;
    min-height: 250px;
    cursor: pointer;
    z-index: 0;
  }
  #watson-block, #smc-block {
    min-height: 250px !important;
  }
}

.hover-info {
  opacity: 0;
  transition: 0.35s;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.hover-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hover-text>h2 {
  color: #4A4A4A;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.hover-text>p {
  color: #4A4A4A;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
}

#amazon-block{
  background-color: #FAFAFA;
}

#ibm-block {
  background-color: #ECEFF1;
}

#cilentree-block {
  background-color: rgba(255, 236, 179, 1);
}

#tank-block {
  background-color: rgba(115, 111, 114, 1);
}
#tank-block .hover-text *  {
  color: white !important;
}

#volo-block {
  background-color: rgba(200, 230, 201, 1);
}

#smc-block {
  background-color: rgba(227, 242, 253, 1);
}

.hover-info:hover {
  opacity: 1;
  transition: 0.35s;
}

#volo-block .hover-info:hover {
  background-color: rgba(200, 230, 201, 0.95);
}

#cilentree-block .hover-info:hover {
  background-color: rgba(255, 236, 179, 0.95);
}

#smc-block .hover-info:hover {
  background-color: rgba(227, 242, 253, 0.95);
}

#tank-block .hover-info:hover {
  background-color: rgba(115, 111, 114, 0.95);
}

/*///////////////////
//	   IMAGES     //
///////////////////*/

#project-blocks img {
  max-height: 250px;
  display: block;
  margin: 0 auto;
}

#smc-block img {
  padding-top: 20px;
  max-height: 350px !important;
}

#tank-block img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#cilentree-block img {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
}

#ibm-block img, #amazon-block img {
  height: 250px;
  width: 250px;
}
