/*///////////////////
//	   GENERAL     //
///////////////////*/
body{height: 100%;}
*{font-family: 'Roboto', sans-serif !important; color: #43484D;}

/*///////////////////
//	 SCROLL BUTTN  //
///////////////////*/
#scroll-up-bttn{
	transition: 0.5s;
	opacity: 0;
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 40px;
}


/*///////////////////
//	   LANDING     //
///////////////////*/
#article-1-img, #article-2-img{
	padding-top: 10px;
}
#article-2{
	display: none;
}
.header-img{
	width: 100%;
	max-height: 80%;
	border:1px solid white;
	border-radius: 10px;
}
#category-marker{
	position: absolute;
}
#category-name{
	position: absolute;
	padding-left: 50px;
	line-height: 50px;
	font-size: 0.75em; 
	letter-spacing: 1px;
}
.article-info{
	transition: 0.5s;
	position: absolute;
	top: 80%;
	bottom: 0;
	text-align: center;
	padding-top: 10px;
	width: 80%;
	margin-left: 9%;
}
.article-info > h6{
	color: #5E6977;
}
.article-name{
	font-family: 'Baskervill6', regular !important;
	font-style: italic;
	font-weight: 600;
	margin-top: 5%;
}
.article-source{
	letter-spacing: 1px;
	position: absolute;
	width: 100%;
}
.article-author{
	letter-spacing: 1px;
	position: absolute;
	width: 100%;
}


/*///////////////////
//	   ARTICLE     //
///////////////////*/
.article
{
	padding-top: 100px;
	margin: 0 auto;
	width: 90%;
}
.menu-item-img{
	border: 1px solid white;
	border-radius: 5px;
	width: 100%;
	margin: 5% 0;
}
.article > p{
	line-height: 30px;
}
.menu-item{
	font-family: 'Baskervill6', regular !important;
	font-style: italic;
	font-weight: 600;
}
.menu-item-description{
	text-transform: uppercase;
	color: #5E6977;
	font-size: 0.75em;
	width: 70%;
	margin: 0 auto;
}
.contact{
	border-top: 1px solid #5E6977;
	padding-top: 10px;
	margin: 0 auto;
	margin-top: 10px;
	width: 90%;
}
.contact > p{
	font-size: 0.75em;
	text-align: center;
}
.article-gallery{
	text-align:center;
}
/*///////////////////
//	  ORDR BTTN    //
///////////////////*/
.ordr-now-bttn{
	transition: 0.25s;
	background-color: #43484D;
	border-radius: 50px;
	display: block;
	width: 30%;
	margin: 10px auto;
	height: 50px;
	padding-top: 9px;
}
.ordr-now-bttn:hover{
	background-color: #35393d;
}
.ordr-now-bttn-logo{
	width: 30px;
	position: relative;
	display: inline-block;
}
.menu-item-price{
	color: white;
	padding-left: 5px;
	line-height: 30px;
	display: inline-block;
}

/*///////////////////
//	   footer     //
///////////////////*/
#footer{
	background-color: #43484D;
	text-align: center;
	padding: 10px 0;
}
#footer > div > a{
	color: white;
	letter-spacing: 1px;
	line-height: 50px;
}
#footer > div > img{
	height: 50px;
}