a {
  text-decoration: underline;
}

.description-row {
  padding-top: 20px;
  padding-bottom: 50px;
}

.description-row h1 {
  font-weight: 700;
  font-size: 3em;
  padding-left: 20px;
}

.description-row p {
  font-weight: 600;
  font-size: 1.2em;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.photo-row {
  min-height: 500px;
  position: relative;
  background-color: rgba(250, 250, 250, 1);
  border-top: 1px solid rgb(236, 239, 241);
  border-bottom: 1px solid rgb(236, 239, 241);
}

.photo-row img {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sub-title {
  padding-top: 50px;
  width: 100%;
  font-size: 1em;
  font-weight: 400;
  padding-left: 1.2em;
  letter-spacing: 1px;
}

.more-info-row {
  padding-bottom: 50px;
}

.more-info-row ul {
  padding: 0;
  list-style-type: none;
  font-weight: 600;
  font-size: 0.9em
}

.next-project-link{
  font-size: 1.6em;
  font-weight: 700;
}

/* specific page styles */
#ibm-logo-photo-row {
  background-color: rgba(236, 239, 241, 1);
  border: 0px;
}

#ibm-preview-photo-row {
  min-height: 20em;
  background-color: rgba(227, 242, 253, 1);
  border: 0px;
}

#ibm-preview-photo-row img {
  width: auto;
  height: auto;
  max-height: 80%;
  max-width: 95%;
}

#cilentree-photo-row{
  min-height: 20em;
  background-color: rgba(255, 236, 179, 1);
  border: 0px;
}

#cilentree-photo-row img{
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

@media screen and (min-width: 640px) {
  .description-row {
    padding-top: 50px;
  }
  .description-row h1 {
    padding-left: 0px;
  }
  .description-row p {
    padding-left: 0px;
    padding-right: 0px;
  }
  .photo-row img {
    width: 30%;
  }
  #ibm-preview-photo-row {
    min-height: 50em;
  }

  #cilentree-photo-row {
    min-height: 40em;
  }
}
