body {
    width: auto;
    height: 100%;
    background-image: url(../img/paper-texture-white.jpg);
}

.contact-background {
    padding-bottom: 25px;
}

p, a {
    font-size: 18px;
    color: #444;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.contact-background{
    padding-top: 50px;
}

.contact-background, .contact-header, .map, .contact-info{
    background-image: url(../img/paper-texture-white.jpg);
}

.emerg-contact {
    background-image: url(../img/paper-texture.jpg);
    padding-bottom: 25px;
}

.credit {
    padding: 30px;
    background-image: url(../img/paper-texture.jpg);
}

.questions{
    padding-bottom: 25px;
}

.email {
    border-bottom: 2px solid #777;
    padding-bottom: 25px;
}

.social {
    padding-top: 50px;
}

.map {
    padding-top: 25px;

    }
.contact-info{
        margin-top: 20px;
    }  

@media(min-width:767px) {
    .contact-info{
        margin-top: 125px;
    }    
}

.nav-brand-text{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 50px;
    margin-top: 0px;
    color: #777;
}