.top{padding-top: 50px;
    padding-bottom: 25px}

.dark-bg{
    background-image: url(../img/paper-texture.jpg);
    padding-bottom: 25px;
    padding-top: 25px;
}

.light-bg{
    padding-bottom: 25px;
    padding-top: 25px;
}

h1 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
}

p, a {
    font-size: 18px;
    color: #444;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    width: auto;
    height: 100%;
    background-image: url(../img/paper-texture-white.jpg);
}

@media(min-width:767px) {
    .contact-info{
        margin-top: 125px;
    }    
}

.nav-brand-text{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 50px;
    margin-top: 0px;
    color: #777;
}

.tg{
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #ccc;
    border:none;
}

.tg td{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding:10px 5px;
    border-style:solid;
    border-width:0px;
    overflow:hidden;
    word-break:normal;
    border-color:#ccc;
    color:#333;
    background-color:#fff;
    text-align: center;
    position: relative;
}
.tg th{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:0px;
    overflow:hidden;
    word-break:normal;
    border-color:#ccc;
    color:#333;
    background-color:#f0f0f0;
    text-align: center;
}
.tg .tg-4eph {
    background-color:#f9f9f9; 
    text-align: center;
}

.navbar-default .navbar-nav > li > a {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    font-size: 14px
}
.btn{
    width: 150px;
}