body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #555;
}

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
}


/*///---------  COMING SOON    -----------///*/

.froshtext {
    border-bottom: 2px solid #00aced;
    color: #434343;
}

.spacer {
    height: 100px;
}

.taglinetext {
    color: #737373;
}

.verticalcenter {
    padding-top: 10%;
}


/*///---------  NAVBAR  -----------///*/

.navbar {
    background-color: rgba(255, 255, 255, 1);
}

.navbar-default .navbar-nav {
    padding-right: 10px !important;
}

.navbar-default .navbar-nav>li>a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: #ffce54;
    transition: background-color, 0.5s;
}

.navbar-brand {
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: inherit;
    background-color: #ffce54;
}

.facebook-icon {
    padding: 0px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}


/*///---------  HEADER  -----------///*/

header {
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    ;
    background-attachment: scroll;
    background-image: url(../img/froshbackground.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {
    .navbar {
        background-color: rgba(255, 255, 255, 0.85);
    }
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }
    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}


/*///---------  BUTTONS  -----------///*/

.btn-xl {
    padding: 20px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    border-width: 1px;
    color: #fff;
    border-color: #f6bb42;
    background-color: #ffce54;
}

.twitter {
    border-color: #00aced;
    background-color: #66cdf4;
}

.facebook {
    border-color: #3b5998;
    background-color: #8b9dc3;
}

.instagram {
    border-color: #987c62;
    background-color: #BE9B7B;
}

.twitter, .instagram, .facebook {
    margin-top: 25px;
    min-width: 50%
}

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    background-color: rgba(254, 202, 27, 0.90);
    transition: background-color, 0.5s;
    color: #fff;
    background-color: #f6bb42;
}

.instagram:hover {
    background-color: #987c62;
}

.facebook:hover {
    background-color: #3b5998;
}

.twitter:hover {
    background-color: #00aced;
}


/*///---------  INFO SECTIONS -----------///*/

.about-section, .reg-section, .team-section {
    color: #555;
    background-image: url(../img/paper-texture-white.jpg);
    line-height: 2.5em;
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.reg-section {
    background-color: #eee;
    background-image: url(../img/paper-texture.jpg);
}

.profiles {
    padding-top: 15px;
}

.img-logo {
    display: inline-block;
    width: 45%;
    text-align: center;
    margin-top: -20px;
}


/*///---------  TEAM SECTION -----------///*/

.img-circle {
    width: 150px;
}

.profiles {
    min-height: 300px;
}

@media(min-width:767px) {
    .img-circle {
        width: 200px;
    }
    .img-logo {
        display: inline-block;
        width: 25%;
        text-align: center;
        margin-top: -20px;
    }
}


/*///---------  REGISTRATION SECTION -----------///*/

.reg_list {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
}

.footer {
    background-color: white;
    font-size: 14px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    line-height: 2em;
    height: 25px;
}

.navbar-default .navbar-nav>li>a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 14px
}
